<h1>User Dashboard</h1>
<h2>Welcome to Chess Quest, <%= current_user.email %>!</h2>

<% if !@current_quest %>
  <%= button_to 'Start Quest', new_quest_path, method: :post %>
<% else %>
  <%= render partial: 'quest', collection: @current_quest, locals: {current_game: @current_game} %>
<% end %>

<% if @completed_quests %>
  <% @completed_quests.each do |quest| %>
    <p><%= quest.name %></p>
    <p>Status: <%= quest.status.capitalize %></p>
  <% end %>
<% end %>
<section id='stats'>
<h3> Stats </h3>
  My Current Win Streak: <b><%= @current_win_streak %></b><br>
  Top 3 Quest Streaks:<br>
  <ol id="top-win-streak">
   <% @top_3_win_streak.reverse.each do |game| %> 
      <li><b><%= game %></b></li>
   <% end %>
   </ol>
</section>