<div class="jumbotron text-center">
  <h1>User Dashboard</h1>
  <p>Welcome to Chess Quest, <%= current_user.email %>!</p>
</div>

<div class="jumbotron text-center">
  <div>
    <h3>Current Quest</h3>
    <% if !@current_quest %>
      <p>In Chess Quest, you play with the pieces that were remaining at the end of the last game.</p>
      <p>Start a Quest to Play</p>
      <%= button_to 'Start Quest', new_quest_path, method: :post, class: "btn btn-primary mt-3" %>
    <% else %>
      <div class="pt-3">
        <p>In Chess Quest, you play with the pieces that were remaining at the end of the last game.</p>
        <p>Pick a starting board position based off famous Chess players' most recent games on Chess.com!</p>
        <p>— OR —</p>
        <p>Select 'Play Classic' to start from a full board.</p>
        <%= render partial: 'quest', collection: @current_quest, locals: {current_game: @current_game} %>
      </div>
    <% end %>
  </div>
</div>

<div class="jumbotron text-center">
  <h3>Completed Quests</h3>
  <% if @completed_quests %>
    <% @completed_quests.each do |quest| %>
      <p class="lead"><%= quest.name %></p>
      <p class="lead">Status: <%= quest.status.capitalize %></p>
    <% end %>
  <% else %>
    <%= image_tag('sad-face.png', size: '100x100', class: "m-3 p-3") %>
  <% end %>
</div>

<div class="jumbotron text-center" id="stats">
  <h3>Stats</h3>
  <h4>Current Quest Win Streak</h4>
  <% if @current_win_streak.present? %>
    <p class="lead"><%= @current_win_streak %></p>
  <% else %>
    <%= image_tag('sad-face.png', size: '100x100', class: "m-3 p-3") %>
  <% end %>
  
  <h4>Top 3 Quest Win Streaks</h4>
  <% if @top_3_win_streak.present? %>
    <ol id="top-win-streak" style="display:inline-block">
      <% @top_3_win_streak.reverse.each do |streak| %>
        <li><p class="lead"><%= streak %> Games Won</p></li>
      <% end %>
    </ol>
  <% else %>
    <%= image_tag('sad-face.png', size: '100x100', class: "m-3 p-3") %>
  <% end %>
</div>
