<h1>User Dashboard</h1>
<h2>Welcome to Chess Quest, <%= current_user.email %>!</h2>

<% if !@current_quest %>
  <%= button_to 'Start Quest', new_quest_path, method: :post %>
<% else %>
  <%= render partial: 'quest', collection: @current_quest, locals: {current_game: @current_game} %>
<% end %>

<% if @completed_quests %>
  <% @completed_quests.each do |quest| %>
    <p><%= quest.name %></p>
    <p>Status: <%= quest.status.capitalize %></p>
  <% end %>
<% end %>
