<h3 class="text-center m-3">Good Luck!</h3>
<div class="container d-flex justify-content-center p-3"><%= button_to "Back to Dashboard", dashboard_path, method: :get, class: 'btn btn-secondary btn-large'%></div>
<div class="d-flex justify-content-center pt-3">
  <div id="myBoard" style="width: 800px" class="img-fluid"></div>
  <%= render "game_over" %>
  <script>
    function onSnapEndOurs () {
      board.position(game.fen())
    }
    function makeRandomMoveOurs () {
      var possibleMoves = game.moves()

      // game over
      if (possibleMoves.length === 0) return

      var randomIdx = Math.floor(Math.random() * possibleMoves.length)
      game.move(possibleMoves[randomIdx])
      board.position(game.fen())
      var options = {
        method: "PATCH",
        headers: {"Content-Type": "application/json"},
        params: { status: winner(), current_fen: game.fen() },
        mode: "cors"
      }
      fetch(
        `https://chess-quest-api.herokuapp.com/api/v1/users/<%= current_user.id %>/quests/<%= @game.quest_id %>/games/<%= @game.id %>?status=${winner()}&current_fen=${game.fen()}`,
        options
      )
      if (game.game_over()) endText()
    }
    function onDropOurs (source, target) {
      // see if the move is legal
      var move = game.move({
        from: source,
        to: target,
        promotion: 'q' // NOTE: always promote to a queen for example simplicity
      })

      // illegal move
      if (move === null) return 'snapback'

      // make random legal move for black
      window.setTimeout(makeRandomMoveOurs, 250)
      var options = {
        method: "PATCH",
        headers: {"Content-Type": "application/json"},
        params: { status: winner(), current_fen: game.fen() },
        mode: "cors"
      }
      fetch(
        `https://chess-quest-api.herokuapp.com/api/v1/users/<%= current_user.id %>/quests/<%= @game.quest_id %>/games/<%= @game.id %>?status=${winner()}&current_fen=${game.fen()}`,
        options
      )
      if (game.game_over()) endText()
    }
    var game = new Chess("<%= @game.fen %>")
    var game_config = {
      draggable: true,
      position: "<%= @game.fen %>",
      onDragStart: onDragStart,
      onDrop: onDropOurs,
      onSnapEnd: onSnapEndOurs,
      pieceTheme: "/assets/chesspieces/wikipedia/{piece}.png"
    }
    board = Chessboard('myBoard', game_config)
    $(window).resize(board.resize)
  </script>
</div>
